/*Star Wars Yellow: #FFE81F*/
* {
    color: #FFE81F;
}

.star-wars-text {
    font-family: 'StarJedi';
}

.outlined-text {
    font-family: 'StarJediOutline';
}

.form-control:focus {
    color: #FFE81F;
    border-color: #FFE81F;
    box-shadow: none !important;
    outline: none !important;
}

textarea {
    resize: none;
}

#intro {
    color: rgb(75, 213, 238);
}

#logo {
    color: black;
    text-shadow:
      -1px -1px 0 #FFE81F, /* Adjust the offset and color for the outline */
      1px -1px 0 #FFE81F,
      -1px 1px 0 #FFE81F,
      1px 1px 0 #FFE81F;
    font-family: StarJedi;
    line-height: 2rem;
}

textarea::-webkit-scrollbar {
    display: none;
}