/*Star Wars Yellow: #FFE81F*/
* {
    color: #FFE81F;
}

.star-wars-text {
    font-family: 'StarJedi';
}

.outlined-text {
    font-family: 'StarJediOutline';
}

.form-control:focus {
    color: #FFE81F;
    border-color: #FFE81F;
    box-shadow: none !important;
    outline: none !important;
}

#intro.form-control:focus {
    border-color: rgb(75, 213, 238);
    box-shadow: none !important;
    outline: none !important;
}

textarea {
    resize: none;
}

#intro {
    color: rgb(75, 213, 238);
}

.blue-text {
    color: rgb(75, 213, 238);
}

#logo {
    color: black;
    caret-color: #FFE81F;
    text-shadow:
      -2px -2px 0 #FFE81F,
      2px -2px 0 #FFE81F,
      -2px 2px 0 #FFE81F,
      2px 2px 0 #FFE81F;
    font-family: StarJedi;
    line-height: .8em;
    font-size: 5em;
    height: auto;
}

textarea::-webkit-scrollbar {
    display: none;
}

.btn-primary {
    --bs-btn-border-color: #FFE81F;
    --bs-btn-hover-border-color: #FFE81F;
    --bs-btn-disabled-border-color: #FFE81F;
    --bs-btn-disabled-color: #FFE81F;
}

.alert-warning {
    --bs-alert-border-color: #dee2e6;
}

.max-size {
    max-width: 500px;
}

.max-size-two {
    max-width: 700px;
}

.form-select:focus {
    border-color: #FFE81F;
    box-shadow: none !important;
    outline: none !important;
}

#logo {
    height: 175px;
}