body {
    margin: 0;
    background-color: black;
}

.star {
    position: absolute;
    width: 1px;
    height: 1px;
    background-color: white;
}

.intro {
    z-index: 9999;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: justify;

    animation: intro 6s ease-out 1s;
    color: rgb(75, 213, 238);
    font-weight: 400;
    font-size: 2rem;
    opacity: 0;
    overflow: hidden;
}

@keyframes intro {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.logo-big {    
    position: fixed;
    top: 35%;
    left: 25%;
    z-index: 9999;
    margin: auto;
    animation: logo-big 9s cubic-bezier(0.25, 0.46, 0.45, 0.94) 9s; /* The second value affects when it comes in, should be 9s */
    opacity: 0;
    color: black;
    text-shadow:
      -0.5px -0.5px 0 #FFE81F, /* Adjust the offset and color for the outline */
      0.5px -0.5px 0 #FFE81F,
      -0.5px 0.5px 0 #FFE81F,
      0.5px 0.5px 0 #FFE81F;
    font-family: StarJedi;
    font-size: 4rem;
}

@keyframes logo-big {
    0% {
        opacity: 1;
        width: 50%;        
        transform: scale(5);
    }
    50% {
        opacity: 1;
        width: 50%;
        transform: scale(0.3);
    }
    100% {
        opacity: 0;
        width: 50%;
        transform: scale(0.0001);
    }
}

.logo-medium {    
    position: fixed;
    top: 35%;
    left: 25%;
    z-index: 9999;
    margin: auto;
    animation: logo-medium 9s cubic-bezier(0.25, 0.46, 0.45, 0.94) 9s; /* The second value affects when it comes in, should be 9s */
    opacity: 0;
    color: black;
    text-shadow:
      -0.5px -0.5px 0 #FFE81F, /* Adjust the offset and color for the outline */
      0.5px -0.5px 0 #FFE81F,
      -0.5px 0.5px 0 #FFE81F,
      0.5px 0.5px 0 #FFE81F;
    font-family: StarJedi;
    font-size: 4rem;
}

@keyframes logo-medium {
    0% {
        opacity: 1;
        width: 50%;        
        transform: scale(3.5);
    }
    50% {
        opacity: 1;
        width: 50%;
        transform: scale(0.1);
    }
    100% {
        opacity: 0;
        width: 50%;
        transform: scale(0.005);
    }
}

.logo-small {    
    position: fixed;
    top: 35%;
    left: 25%;
    z-index: 9999;
    margin: auto;
    animation: logo-small 9s cubic-bezier(0.25, 0.46, 0.45, 0.94) 9s; /* The second value affects when it comes in, should be 9s */
    opacity: 0;
    color: black;
    text-shadow:
      -0.5px -0.5px 0 #FFE81F, /* Adjust the offset and color for the outline */
      0.5px -0.5px 0 #FFE81F,
      -0.5px 0.5px 0 #FFE81F,
      0.5px 0.5px 0 #FFE81F;
    font-family: StarJedi;
    font-size: 4rem;
}

@keyframes logo-small {
    0% {
        opacity: 1;
        width: 50%;        
        transform: scale(2);
    }
    50% {
        opacity: 1;
        width: 50%;
        transform: scale(0.09);
    }
    100% {
        opacity: 0;
        width: 50%;
        transform: scale(0.00002);
    }
}

.shrink-size {
    max-height: 3.3rem;
}

p {
    color: #FFE81F;
}

#board {
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    transform: perspective(250px) rotateX(25deg);
    transform-origin: 50% 100%;
    text-align: justify;
    position: fixed;
    margin-left: -9em;
    font-weight: bold;
    overflow: hidden;
    height: 50em;
    width: 18em;
    bottom: 0;
    left: 50%;
    z-index: 1;
}

#board:after {
    position: fixed;
    content: ' ';
    bottom: 80%;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
}

/* Set the scrolling animation and position it */
.content {
    animation: scroll 185s linear 16s;
    position: fixed;
    top: 100%;
    z-index: 1;
}

#title,
#subtitle {
    text-align: center;
}

#subtitle {
    font-family: 'Univers 39';
    letter-spacing: .1em;
}

@keyframes scroll {
    0% {
        top: 100%;
    }

    100% {
        top: -170%;
    }
}

.intro-small-width {
    font-size: 1.3rem;
}

.intro-medium-width {
    font-size: 2rem;
}

.intro-large-width {
    font-size: 3rem;
}

.text-small-width {
    font-size: 1.3rem;
}

.text-medium-width {
    font-size: 2rem;
}

.text-large-width {
    font-size: 3rem;
}

.subtitle-small-width {
    font-size: 2.8rem;
}

.subtitle-medium-width {
    font-size: 4.7rem;
}

.subtitle-large-width {
    font-size: 6.9rem;
}

.btn.btn-primary {
    margin-top: 46.86vh;
    --bs-btn-border-color: #FFE81F;
    --bs-btn-active-border-color: #FFE81F;
    color: #FFE81F;
}

.btn.btn-primary:hover {
    margin-top: 46.86vh;
    --bs-btn-border-color: #FFE81F;
    --bs-btn-hover-border-color: #FFE81F;
    --bs-btn-active-border-color: #FFE81F;
    background-color: #FFE81F !important;
    color: black;
}

.btn-below {
    margin-top: 1.5vh !important;
}

.mt-6 {
    margin-top: 3.3rem;
}